@import url(https://fonts.googleapis.com/css?family=Patrick+Hand);

body{
  background-color:#C2C2A3;
  font-family: 'Patrick Hand', cursive;
}

#about p{
  font-size: 50px;
}

.container1{
 background-color:#e6e6e6;
}
.down{
  margin-left: 40px;
}

